# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Generated Python files
*.pyo

# Environment variables
.env